/* src/styles/global.css */

*{
    margin: 0;
    padding: 0;
  }
  
  body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #03045e, #023e8a, #0077b6, #0096c7);    
    background-size: 200% 200%;
    animation: FondoA 20s ease-in-out infinite;
  }
  
  @keyframes FondoA {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  